BUILD_ENV=local
PGHOST=localhost
PGPORT=5432
PGUSER=postgres
PGPASSWORD=postgres
PGDATABASE=billing
CF_API_URL=https://api.dev.us-gov-west-1.aws-us-gov.cloud.gov
CF_CLIENT_ID=
CF_CLIENT_SECRET=
OIDC_ISSUER=https://uaa.dev.us-gov-west-1.aws-us-gov.cloud.gov/oauth/token
